<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="myContactBook">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/home">List COes</a></li>
                    <li><a href="#/savecontact/0">Edit CO</a></li>
                    <li><a href="#/CO_Listing">CO listing API</a></li>
                    <li><a href="#/AddCO/0">Add CO</a></li>

                    <li><a href="#/CO_ListingGrid">CO listing Grid</a></li>

                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <ng-view></ng-view>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    @*<script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>*@

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/AB/main.js"></script>
    <script src="~/Scripts/AB/ngControllers/homeController.js"></script>
    <script src="~/Scripts/AB/ngControllers/saveContactController.js"></script>
    <script src="~/Scripts/AB/ngControllers/errorController.js"></script>
    <script src="~/Scripts/AB/ngServices/contactService.js"></script>
    <script src="~/Scripts/AB/ngControllers/CO_ListingController.js"></script>

    <script src="~/Scripts/AB/ngControllers/AddCOController.js"></script>
    <script src="~/Scripts/AB/ngControllers/CO_ListingGridController.js"></script>

    @*<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>*@
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"> </script>
        <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>

    <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css"" type="text/css">
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.1/docs.css" type="text/css">

    <script src="~/Scripts/ui-grid.js"></script>


    <style>
        .error {
            color: red;
        }
    </style>
</body>
</html>
